<!-- create or update -->

<form #f="ngForm" (ngSubmit)="send(f)" novalidate>

    <input type="text" name="name" ngModel #name="ngModel">    
    
    <input type = "submit" value = "submit">
    </form>



<!-- list -->
 

<table>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>edit</th>
      <th>tasks</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user?.name}}</td>
      <td> {{user?.active}}</td>
      <td>edit</td>
      <td>
          <button (click)="getTasks(user.id)">show</button>  
          <button (click)="deleteUser(user.id)">x</button> 
        </td>
    </tr>  
  </table>


<!-- taskeditor -->
<div *ngIf="selectedUser">

    edit user
    <form #editUser="ngForm" (ngSubmit)="updateUser(selectedUser,editUser)" novalidate>

      <input type="text" name="name" ngModel #name="ngModel">
      <input type="text" name="active" ngModel #active="ngModel">
        
      <input type = "submit" value = "submit">
    </form>

    add task
    <form #newTask="ngForm" (ngSubmit)="createTask(newTask)" novalidate>

        <input type="text" name="description" ngModel #description="ngModel">
        <input type="text" name="state" ngModel #state="ngModel">
        
        <input type = "submit" value = "submit">
    </form>


</div>


<!-- task List -->

<div *ngIf="tasks.length>0">
 <h3>tasks</h3>
<table >
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Active</th>
      <th>deleteTask</th>
    </tr>
    <tr *ngFor="let task of tasks">
      <td>{{task?.description}}</td>
      <td> {{task?.status}}</td>
      <td> {{task?.active}}</td>
      <td>
        <button (click)="selectedTask = task.id" >!</button>
        <button (click)="deleteTask(task.id)" >x</button>
      
      </td>
    </tr>  
  </table>

</div>

<div *ngIf="selectedTask">

    edit task
    <form #editTask="ngForm" (ngSubmit)="updateTask(selectedTask,editTask)" novalidate>

      <input type="text" name="description" ngModel #description="ngModel">
      <input type="text" name="status" ngModel #state="ngModel">
        
      <input type = "submit" value = "submit">
    </form>



</div>